<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
	</head>
	<style>
		h1, h2 {text-align:center;}
		p {text-align:center;}
		.form-group {float: right; width: 100%;}
		input {float: right;}
		#submitall{width:100%;}
		h1, h2, h3, p { color: white; }
		body {
		    background-color:white;
		    background-image: url('/background1.jpg') !important;
		    background-repeat:no-repeat;
		    background-position:top center;
		    margin:0;
		    padding:0;
		}
	</style>
	<body>

		<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
	    </div>
	  </div>
	</nav>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>

	<% answer_array = @answers.split(", ") %>
	<% counter = 1 %>
	<% @user_answers.split(" ").each do |user_answer| %>
		
		<th class="col-sm-4">
			<h2><%= @user_integer.to_s + " x " + (answer_array[counter].to_i / @user_integer.to_i).to_s %></h2>
		
		<% if user_answer.to_s == answer_array[counter].to_s %>
			<h1>True!<h1>
			<p>&nbsp;</p>
		<% else %>
			<h1>False</h1>
			<h2><%= answer_array[counter] %></h2>
			<p>&nbsp;</p>
		</th>
		<% end %>
		<% counter += 1 %>
	<% end %>




	</body>
</html>